@import '../ButtonSCSS/ButtonSCSS.scss';
.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  .arrowBack {
    @include button();
  }
  .disabled {
    background-color: grey !important;
    color: rgb(216, 216, 216) !important;
  }
  .pageNumber {
    color: #0277bd;
    font-weight: 600;
    margin: 0;
  }
  .arrowForward {
    @include button();
  }
}
