.cardIconPack {
  width: 100%;
  transition: all ease 0.2s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .imageThumb {
    img {
      width: 300px;
      margin: auto;
      aspect-ratio: auto 300 / 288;
    }
  }
  .desc {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    .iconDesc {
      color: #1d262d;
      text-transform: capitalize;
    }
    .iconNumber {
      color: #5f7d95;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
.cardIconPack:hover {
  box-shadow: rgb(114, 114, 114) 0px 1px 3px 0px,
    rgb(69, 79, 90) 0px 0px 0px 1px;
}
